npx.cmd : warn The configuration property `package.json#prisma` is deprecated and will be removed in Prisma 7. Please 
migrate to a Prisma config file (e.g., `prisma.config.ts`).
At line:1 char:1
+ npx.cmd prisma migrate diff --from-empty --to-schema-datamodel prisma ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (warn The config...ma.config.ts`).:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
For more information, see: https://pris.ly/prisma-config

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('SUPER_ADMIN', 'ESTATE_MANAGEMENT', 'SECURITY_OFFICER', 'RESIDENT');

-- CreateEnum
CREATE TYPE "PropertyStatus" AS ENUM ('ACTIVE', 'INACTIVE', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "ResidentType" AS ENUM ('OWNER', 'TENANT', 'LANDLORD', 'PERMANENT');

-- CreateEnum
CREATE TYPE "ResidentStatus" AS ENUM ('ACTIVE', 'INACTIVE');

-- CreateEnum
CREATE TYPE "ResidentSource" AS ENUM ('MANUAL', 'NOTEBOOK_IMPORT');

-- CreateEnum
CREATE TYPE "VisitorType" AS ENUM ('GUEST', 'FAMILY', 'DELIVERY', 'SERVICE', 'CONTRACTOR', 'OTHER');

-- CreateEnum
CREATE TYPE "VisitorStatus" AS ENUM ('PENDING', 'APPROVED', 'DENIED', 'CANCELLED', 'EXPECTED', 'UNEXPECTED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "PassStatus" AS ENUM ('ACTIVE', 'USED', 'EXPIRED', 'CANCELLED', 'REVOKED');

-- CreateEnum
CREATE TYPE "DispatchStatus" AS ENUM ('PENDING', 'APPROVED', 'DENIED', 'INSIDE', 'EXITED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "PersonType" AS ENUM ('VISITOR', 'DISPATCH', 'VEHICLE');

-- CreateEnum
CREATE TYPE "AccessAction" AS ENUM ('ENTRY', 'EXIT', 'DENIED');

-- CreateEnum
CREATE TYPE "AccessStatus" AS ENUM ('INSIDE', 'EXITED', 'DENIED');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('VISITOR_ARRIVAL', 'VISITOR_APPROVAL', 'VISITOR_DENIED', 'VISITOR_CHECKOUT', 'DISPATCH_ARRIVAL', 'SECURITY_ALERT');

-- CreateTable
CREATE TABLE "User" (
    "id" UUID NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "passwordHash" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" "Role" NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SecurityOfficer" (
    "id" UUID NOT NULL,
    "userId" UUID,
    "badgeNumber" TEXT NOT NULL,
    "station" TEXT,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SecurityOfficer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Property" (
    "id" UUID NOT NULL,
    "unitNumber" TEXT NOT NULL,
    "block" TEXT,
    "propertyType" TEXT,
    "status" "PropertyStatus" NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Property_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Resident" (
    "id" UUID NOT NULL,
    "userId" UUID,
    "propertyId" UUID,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "phone" TEXT,
    "email" TEXT,
    "propertyStatus" "ResidentStatus" NOT NULL DEFAULT 'ACTIVE',
    "residentType" "ResidentType" NOT NULL DEFAULT 'OWNER',
    "photoUrl" TEXT,
    "source" "ResidentSource" NOT NULL DEFAULT 'MANUAL',
    "verified" BOOLEAN NOT NULL DEFAULT false,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Resident_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Vehicle" (
    "id" UUID NOT NULL,
    "residentId" UUID,
    "plateNumber" TEXT NOT NULL,
    "make" TEXT,
    "color" TEXT,
    "type" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Vehicle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Visitor" (
    "id" UUID NOT NULL,
    "residentId" UUID,
    "fullName" TEXT NOT NULL,
    "phone" TEXT,
    "visitorType" "VisitorType" NOT NULL DEFAULT 'GUEST',
    "purpose" TEXT,
    "expectedDate" TIMESTAMP(3),
    "expectedArrival" TIMESTAMP(3),
    "expectedDeparture" TIMESTAMP(3),
    "vehicleType" TEXT,
    "vehiclePlate" TEXT,
    "photoUrl" TEXT,
    "status" "VisitorStatus" NOT NULL DEFAULT 'UNEXPECTED',
    "registeredById" UUID,
    "approvedById" UUID,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Visitor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VisitorPass" (
    "id" UUID NOT NULL,
    "visitorId" UUID NOT NULL,
    "token" TEXT NOT NULL,
    "qrContent" TEXT NOT NULL,
    "issuedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3),
    "status" "PassStatus" NOT NULL DEFAULT 'ACTIVE',
    "maxUses" INTEGER NOT NULL DEFAULT 1,
    "usesCount" INTEGER NOT NULL DEFAULT 0,
    "revokedAt" TIMESTAMP(3),
    "revokedById" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VisitorPass_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DispatchRider" (
    "id" UUID NOT NULL,
    "residentId" UUID,
    "riderName" TEXT NOT NULL,
    "riderPhone" TEXT,
    "company" TEXT,
    "orderReference" TEXT,
    "deliveryUnit" TEXT,
    "bikeNumber" TEXT,
    "plateNumber" TEXT,
    "photoUrl" TEXT,
    "notes" TEXT,
    "status" "DispatchStatus" NOT NULL DEFAULT 'PENDING',
    "passToken" TEXT,
    "expiresAt" TIMESTAMP(3),
    "registeredById" UUID,
    "confirmedById" UUID,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DispatchRider_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AccessLog" (
    "id" UUID NOT NULL,
    "personType" "PersonType" NOT NULL,
    "visitorId" UUID,
    "dispatchId" UUID,
    "residentId" UUID,
    "propertyId" UUID,
    "vehicleId" UUID,
    "vehiclePlate" TEXT,
    "securityOfficerId" UUID,
    "action" "AccessAction" NOT NULL,
    "status" "AccessStatus" NOT NULL,
    "token" TEXT,
    "entryAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "exitAt" TIMESTAMP(3),
    "durationSeconds" INTEGER,
    "reason" TEXT,
    "notes" TEXT,
    "source" TEXT NOT NULL DEFAULT 'SCAN',
    "deviceInfo" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AccessLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "type" "NotificationType" NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "actorName" TEXT,
    "link" TEXT,
    "readAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" UUID NOT NULL,
    "actorUserId" UUID,
    "actorName" TEXT,
    "actorRole" TEXT,
    "action" TEXT NOT NULL,
    "entityType" TEXT,
    "entityId" TEXT,
    "summary" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EstateSettings" (
    "id" INTEGER NOT NULL DEFAULT 1,
    "estateName" TEXT NOT NULL DEFAULT 'Silverland Zone',
    "estateSubtitle" TEXT NOT NULL DEFAULT 'Tedo Housing Estate',
    "visitorPassValidityHours" INTEGER NOT NULL DEFAULT 24,
    "dispatchValidityMinutes" INTEGER NOT NULL DEFAULT 45,
    "maxVisitorDurationHours" INTEGER NOT NULL DEFAULT 12,
    "residentsMustApproveVisitors" BOOLEAN NOT NULL DEFAULT true,
    "dispatchRequiresResidentConfirmation" BOOLEAN NOT NULL DEFAULT true,
    "securityOfficerCanEditResidents" BOOLEAN NOT NULL DEFAULT false,
    "securityOfficerCanOverrideDenied" BOOLEAN NOT NULL DEFAULT false,
    "allowUnexpectedVisitors" BOOLEAN NOT NULL DEFAULT true,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EstateSettings_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- CreateIndex
CREATE UNIQUE INDEX "SecurityOfficer_userId_key" ON "SecurityOfficer"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "SecurityOfficer_badgeNumber_key" ON "SecurityOfficer"("badgeNumber");

-- CreateIndex
CREATE INDEX "SecurityOfficer_isActive_idx" ON "SecurityOfficer"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "Property_unitNumber_key" ON "Property"("unitNumber");

-- CreateIndex
CREATE INDEX "Property_block_idx" ON "Property"("block");

-- CreateIndex
CREATE UNIQUE INDEX "Resident_userId_key" ON "Resident"("userId");

-- CreateIndex
CREATE INDEX "Resident_firstName_lastName_idx" ON "Resident"("firstName", "lastName");

-- CreateIndex
CREATE INDEX "Resident_phone_idx" ON "Resident"("phone");

-- CreateIndex
CREATE INDEX "Resident_propertyId_idx" ON "Resident"("propertyId");

-- CreateIndex
CREATE INDEX "Vehicle_plateNumber_idx" ON "Vehicle"("plateNumber");

-- CreateIndex
CREATE INDEX "Visitor_fullName_idx" ON "Visitor"("fullName");

-- CreateIndex
CREATE INDEX "Visitor_phone_idx" ON "Visitor"("phone");

-- CreateIndex
CREATE INDEX "Visitor_residentId_idx" ON "Visitor"("residentId");

-- CreateIndex
CREATE UNIQUE INDEX "VisitorPass_token_key" ON "VisitorPass"("token");

-- CreateIndex
CREATE INDEX "VisitorPass_token_idx" ON "VisitorPass"("token");

-- CreateIndex
CREATE INDEX "VisitorPass_visitorId_idx" ON "VisitorPass"("visitorId");

-- CreateIndex
CREATE UNIQUE INDEX "DispatchRider_passToken_key" ON "DispatchRider"("passToken");

-- CreateIndex
CREATE INDEX "DispatchRider_riderName_idx" ON "DispatchRider"("riderName");

-- CreateIndex
CREATE INDEX "DispatchRider_residentId_idx" ON "DispatchRider"("residentId");

-- CreateIndex
CREATE INDEX "AccessLog_personType_idx" ON "AccessLog"("personType");

-- CreateIndex
CREATE INDEX "AccessLog_action_idx" ON "AccessLog"("action");

-- CreateIndex
CREATE INDEX "AccessLog_entryAt_idx" ON "AccessLog"("entryAt");

-- CreateIndex
CREATE INDEX "AccessLog_visitorId_idx" ON "AccessLog"("visitorId");

-- CreateIndex
CREATE INDEX "AccessLog_dispatchId_idx" ON "AccessLog"("dispatchId");

-- CreateIndex
CREATE INDEX "AccessLog_durationSeconds_idx" ON "AccessLog"("durationSeconds");

-- CreateIndex
CREATE INDEX "Notification_userId_readAt_idx" ON "Notification"("userId", "readAt");

-- CreateIndex
CREATE INDEX "AuditLog_actorUserId_idx" ON "AuditLog"("actorUserId");

-- CreateIndex
CREATE INDEX "AuditLog_action_idx" ON "AuditLog"("action");

-- CreateIndex
CREATE INDEX "AuditLog_createdAt_idx" ON "AuditLog"("createdAt");

-- AddForeignKey
ALTER TABLE "SecurityOfficer" ADD CONSTRAINT "SecurityOfficer_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Resident" ADD CONSTRAINT "Resident_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Resident" ADD CONSTRAINT "Resident_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES "Property"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vehicle" ADD CONSTRAINT "Vehicle_residentId_fkey" FOREIGN KEY ("residentId") REFERENCES "Resident"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visitor" ADD CONSTRAINT "Visitor_residentId_fkey" FOREIGN KEY ("residentId") REFERENCES "Resident"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visitor" ADD CONSTRAINT "Visitor_registeredById_fkey" FOREIGN KEY ("registeredById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Visitor" ADD CONSTRAINT "Visitor_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VisitorPass" ADD CONSTRAINT "VisitorPass_visitorId_fkey" FOREIGN KEY ("visitorId") REFERENCES "Visitor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DispatchRider" ADD CONSTRAINT "DispatchRider_residentId_fkey" FOREIGN KEY ("residentId") REFERENCES "Resident"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DispatchRider" ADD CONSTRAINT "DispatchRider_registeredById_fkey" FOREIGN KEY ("registeredById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DispatchRider" ADD CONSTRAINT "DispatchRider_confirmedById_fkey" FOREIGN KEY ("confirmedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccessLog" ADD CONSTRAINT "AccessLog_visitorId_fkey" FOREIGN KEY ("visitorId") REFERENCES "Visitor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccessLog" ADD CONSTRAINT "AccessLog_dispatchId_fkey" FOREIGN KEY ("dispatchId") REFERENCES "DispatchRider"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccessLog" ADD CONSTRAINT "AccessLog_residentId_fkey" FOREIGN KEY ("residentId") REFERENCES "Resident"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccessLog" ADD CONSTRAINT "AccessLog_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES "Property"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccessLog" ADD CONSTRAINT "AccessLog_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES "Vehicle"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AccessLog" ADD CONSTRAINT "AccessLog_securityOfficerId_fkey" FOREIGN KEY ("securityOfficerId") REFERENCES "SecurityOfficer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_actorUserId_fkey" FOREIGN KEY ("actorUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

